:root {
    --id-card-header-height: calc(.2 * var(--badge-height));
    --id-card-footer-height: calc(.25 * var(--badge-height));
    --id-card-body-height: calc(.55 * var(--badge-height));
}

/*Header Part*/
.badge--id > .badge__header {
    position: relative;
    height: var(--id-card-header-height);
    border-top-left-radius: var(--badge-border-radius);
    border-top-right-radius: var(--badge-border-radius);
}

/*Company Logo*/
.badge--id .header__company {
    display: inline-block;
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
    background-color: var(--berau-black);
    border-top-left-radius: var(--badge-border-radius);
}

.badge--id .header__company > img {
    width: 80%;
    height: auto;
    max-height: 80%;
    padding: 12.5% 0;
}

/*Card Type*/
.badge--id .header__type {
    display: inline-block;
    width: 40%;
}

.badge--id .type__title {
    background-color: var(--berau-green);
    border-top-right-radius: var(--badge-border-radius);
    height: calc(var(--id-card-header-height) / 2);
}

.badge--id .type__title > p {
    width: 100%;
    height: calc(var(--id-card-header-height) / 2);
    line-height: calc(var(--id-card-header-height) / 2);
    text-align: center;
    margin: auto;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.badge--id .type__subtitle {
    background-color: var(--berau-blue);
    height: calc(var(--id-card-header-height) / 2);
}

.badge--id .type__subtitle > p {
    width: 100%;
    height:  calc(var(--id-card-header-height) / 2);
    line-height:  calc(var(--id-card-header-height) / 2);
    text-align: center;
    margin: auto;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

/*Body Part*/
.badge--id > .badge__body {
    position: relative;
    height: var(--id-card-body-height);
    background-color: #FAFAFA;
}

/*Picture*/
.badge--id .user__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: calc(.8 * var(--id-card-body-height));
    width: calc(.6 * var(--id-card-body-height));
    object-fit: cover;
}

/*Footer Part*/
.badge--id > .badge__footer {
    position: relative;
    height: calc(var(--id-card-footer-height) - (4 * var(--badge-padding)));
    padding: calc(2 * var(--badge-padding));
    background-color: var(--berau-black);
    border-bottom-left-radius: var(--badge-border-radius);
    border-bottom-right-radius: var(--badge-border-radius);
}

/*User Info*/
.badge--id .user__name {
    margin: 0;
    font-family: "Franklin Gothic Medium", franklin-gothic, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.badge--id .user__label {
    margin: 0;
    font-family: "Franklin Gothic Medium", franklin-gothic, sans-serif;
    font-size: 16px;
    color: white;
}

.badge--id .website {
    position: absolute;
    right: var(--badge-padding);
    bottom: var(--badge-padding);
    margin: 0;
    font-size: 12px;
    color: var(--berau-green);
}