@import url("id-card.css");
@import url("guest-card.css");
@import url("lc-card.css");
@import url("dm-card.css");
@import url("simper-card.css");
@import url("kimper-card.css");
@import url("tac-card.css");

@font-face {
    font-family: franklin-gothic;
    src: url(../asset/franklin-gothic/framd.ttf);
}

:root {
    --badge-width: 280px;
    --badge-height: calc(1.5 * var(--badge-width));
    --badge-border-radius: 8px;
    --badge-padding: 8px;
    --badge-line: #9E9E9E;
    --berau-black: black;
    --berau-green: #8BC34A;
    --berau-blue: #2196F3;
    --berau-red: #F44336;
    --berau-yellow: #FFEB3B;
    --berau-orange: #FF9800;
}

body {
    background-color: #FAFAFA;
    font-family: "Helvetica", "Arial", sans-serif;
}

body > * {
    margin: 8px;
}

.badge {
    display: block;
    position: relative;
    width: var(--badge-width);
    height: var(--badge-height);
    background-color: white;
    border-radius: var(--badge-border-radius);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

.hidden {
    display: none !important;
}